<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			I am a Senior Software Engineer living In Belgium and working at Capgemini Engineering, having previously spent over 18 years as a Software Engineer at Devoteam, GFI Informatique (now Inetum), Atos, and AubayPromotic which gave me good experience either working in a team of up to 100 persons or alone and directly with a product owner or final users.
			<br/><br/>
      I am hungry for learning, and self-improvement and always willing to accept constructive criticism, I can work as both a self-guided team member and project team leader. I enjoy creating great products with great user experiences and working in a dynamic environment focusing on good development practices, automation, and shipping small, frequent releases.
		</div>
		<br>
	</div>
</div>
